<header class="shadow-sm">
    <div class="max-w-screen-xl p-4 mx-auto">
      <div class="flex items-center justify-between space-x-4 lg:space-x-10">
        <div class="flex lg:w-0 lg:flex-1">
          <a href="/">
            <span class="text-3xl text-teal-800 ml-4 text-cuarto font-bold">DannyCars</span>
          </a>
        </div>
  
        <nav class="hidden space-x-8 text-sm font-medium md:flex">
          <a class="text-gray-500" href="">Acerca de Nosotros</a>
          <a class="text-gray-500" href="/404">Blog</a>
          <a class="text-gray-500" href="./articulo/mostrar">Productos</a>
          <a class="text-gray-500" href="/404">Contacto</a>
        </nav>
  
        <div class="items-center justify-end flex-1 hidden space-x-4 sm:flex">
          <a href="/proveedor"class="relative inline-block text-sm font-medium text-teal-800 active:text-teal-800 group focus:outline-none focus:ring" href="">
            <span class="absolute inset-0 border border-current"></span>
            <span class="block px-8 py-3 transition-transform bg-white border border-current group-hover:-translate-x-1 group-hover:-translate-y-1">
              Proveedor
            </span>
          </a>
  
          <a href="/articulo" class="relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" >
            <span class="absolute inset-0 border border-teal-900 group-active:border-teal-900"></span>
            <span class="block px-8 py-3 transition-transform bg-teal-800 border border-teal-800 active:border-teal-800 active:bg-teal-800 group-hover:-translate-x-1 group-hover:-translate-y-1">
              Articulo
            </span>
          </a>
        </div>
        <div class="lg:hidden">
          <button class="p-2 text-gray-600 bg-gray-100 rounded-lg" type="button">
            <span class="sr-only">Open menu</span>
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="none"
              stroke="currentColor"
              viewbox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4 6h16M4 12h16M4 18h16"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </header>